:root{

    /* ------------> Le Background <-------------- */
    --background: #ffffff;
    --onBackground: #000000;

    /* ------------> Le Body Background <-------------- */
    --bodyBackground: #000c1f;
    --onBodyBackground: #ffffff;
    --headerBackground: #ffffff1a;

    /* ------------> Le primary <-------------- */
    --primary: #29103f;
    --on_primary: #dbb5ff;
    --primary_border: #8300fd;

    /* ------------> Le secondary <-------------- */
    --secondary: #374100;
    --on_secondary: #fff983;
    --secondary_border: #ffff00;

    /* ------------> Le tertiary <-------------- */
    --tertiary: #bae9ff;
    --on_tertiary: #003238; 
    --tertiary_border: #008b8b;

    /* ------------> Error <-------------- */
    --error: #3e0909;
    --on_error: #ff3939;
    --error_border: #650000;

    /* ------------> Success <-------------- */
    --success: #12350e;
    --on_success: #00ff00;
    --success_border: #00ff00;

}