body > main{
    width: inherit;
    max-width: 100vw;
    overflow-x: auto;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    row-gap: 5vh;
}

body > main > section h2{
    font-size: 3rem;
}

#about_self{
    width: inherit;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    box-sizing: border-box;
    padding: 2vh 2vw;
    width: 60%;
}

#about_self.visible h2{
    height: 100% !important;
}

#about_self.visible p{
    opacity: 1 !important;
}


#about_self > h2{
    width: max-content;
    height: 30%;
    border-right: thick solid var(--primary_border);
    padding: 2vh 2vw;
    box-sizing: border-box;
    justify-self: start;
    transition: all 0.3s ease;
    will-change: width, border-radius, border-color, border, height;
    display: grid;
    place-items: center;
}

#about_self > p{
    width: 100%;
    height: 100%;
    padding: 2vh 2vw;
    line-height: 120%;
    box-sizing: border-box;
    will-change: contents;
    font-size: 1.3rem;
    opacity: 0;
    transition: all 0.3s ease;
    will-change: opacity;
    overflow: hidden;

}

#about_self > p b{
    background: linear-gradient(to top left, var(--secondary_border), var(--background));
    background-clip: text;
    color: transparent;
}


#education{
    display: grid;
    place-items: center;
    width: 80vw;
}

#education > h2{
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    padding: 2vh 0px;
    width: 100%;
    border-bottom: thick solid var(--primary_border);
}

#education > div{
    width: 100%;
    display: grid;
    place-items: center;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 2vh;
    column-gap: 2vw;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

#education > div > article{
    width: max-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content max-content max-content auto;
    place-items: center;
    width: 100%;
    height: 0% !important;
    box-sizing: border-box;
    border: thin outset transparent;
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
    transition: all 0.3s ease;
    will-change: height, border, opacity;
    opacity: 0 !important;

}

#education > div > article.visible{
    opacity: 1 !important;
    height: 100% !important;
    border: thin solid var(--background) !important;
}

#education > div > article > figure{
    display: grid;
    width: 100%;
    place-items: center;
    font-size: 1.5rem;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;

    background-color: var(--background);
    aspect-ratio: 2.5;
    box-sizing: border-box;
}

#education > div > article > figure h3{
    background: linear-gradient(to bottom right, var(--on_primary), var(--onBackground));
    background-clip: text;
    color: transparent;
}

#education > div > article > h4{
    font-size: 1rem;
    place-self: center;
    box-sizing: border-box;
    padding: 2vh 1vw;
    border-radius: 25px;
    background-color: var(--tertiary);
    color: var(--on_tertiary) !important;
    margin-top: 2vh;
}

#education > div > article > h5{
    font-size: 1rem;
    place-self: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2vh 2vw;
    display: grid;
    grid-auto-flow: row;
    row-gap: 2vh;
}

#education > div > article > h6{
    font-size: 1rem;
    place-self: center;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--on_primary);
    text-align: center;
    padding: 2vh 0px;
    align-self: end;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

#education span{
    font-weight: normal;
}
#education b{
    font-weight: bold;
}


/* #####################----> Competences <----##################### */
#competences{
    display: grid;
    place-items: center;
    width: 80%;
    overflow: hidden;
}

#competences > h2{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    place-items: center;
    padding: 2vh 0px;
    width: 100%;
    border-bottom: thick solid var(--primary_border);
}

#competences > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    padding: 5vh 2vw;
    box-sizing: border-box;
    column-gap: 2vw;
    row-gap: 4vh;
}

#competences > div > article{
    overflow: hidden;
    width: 100%;
    height: 100% !important;
    border-radius: 0px;
    will-change: box-shadow, height, width, border, background-color, background-image, transform, scale, opacity;
    border: thin groove transparent;
    transition: all 0.5s ease;
    align-self: start;
    opacity: 0 !important;

    transform: translate(0vw, 0vh);
    box-shadow: 0vw 0vh 0px 0px var(--primary_border);
    border-color: transparent;
    border-radius: 0px 0px 10px 10px;
}

#competences > div > article:nth-of-type(3){
    grid-column: 1/3;
    width: 50%;
}

#competences > div > article:nth-of-type(3) > ul > li > ul{
    margin: 1vh 2vw;
    list-style-position: inside;
    list-style-type: disc;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
}

#competences > div > article.highlight{
    transform: translate(0.5vw, -1vh);
    box-shadow: -0.5vw 1vh 0px 0px var(--primary_border);
    border-color: var(--primary_border);
}

#competences > div > article.visible{
    opacity: 1 !important;
}


#competences > div > article > figure{
    display: grid;
    grid-auto-flow: row;
    width: 100%;
}

#competences > div > article > figure img{
    width: 100%;
    aspect-ratio: 3;
    object-fit: cover;
}

#competences > div > article > figure figcaption{
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2vh 0px;
    border-top: thick groove var(--primary_border);
    border-bottom: thick groove var(--primary_border);
}

#competences > div > article > h3{
    width: 100%;
    padding: 2vh 1vw;
    box-sizing: border-box;
    font-size: 1.4rem;
}

#competences > div > article > ul{
    width: 100%;
    padding: 0vh 2vw;
    padding-bottom: 5vh;
    box-sizing: border-box;
    list-style-position: inside;
    list-style-type: square;
    font-size: 1.2rem;
}

#competences > div > article > ul > li{
    padding: 1vh 1vw;
}

/* ####################------> Experiences <------#################### */

#experiences{
    width: 80%;
    display: grid;
    grid-auto-flow: row;
    row-gap: 2vh;
    box-sizing: border-box;
    place-items: center;
}

#experiences h2{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    place-items: center;
    padding: 2vh 0px;
    width: 100%;
    border-bottom: thick solid var(--primary_border);
}

#experiences b{
    font-size: 0.8em;
    font-family: consolas, Arial, Helvetica, sans-serif;
}

#experiences > article{
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    row-gap: 2vh;
    box-sizing: border-box;
    align-self: start;
    opacity: 0;
    transition: all 0.3s ease;
}

#experiences > article h3{
    font-size: 1.5rem;
    border-bottom: thick solid var(--secondary_border);
    width: max-content;
    padding: 2vh 2vw;
    transition: all 0.3s ease;
}

#experiences > article h4{
    font-size: 1.4rem;
    padding: 0px 2vw;
}

#experiences > article h5{
    font-size: 1.3rem;
    padding: 0px 2vw;
}

#experiences > article h5 span{
    font-family: Times,'Times New Roman' ,serif, Arial, Helvetica, sans-serif;
}

#experiences > article h6{
    font-size: 1.2rem;
    padding: 0px 2vw;
}

#experiences > article ul{
    font-size: 1.1rem;
    list-style-type: disc;
    list-style-position: inside;
    box-sizing: border-box;
    padding: 0px 2vw;
}

#experiences > article ul li{
    padding: 1vh 2vw;
}

#experiences > article.visible{
    opacity: 1;
}


/* ###############-------> Autres Informations <-------################## */
#other_information{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 2vw;
    height: 100%;
    box-sizing: border-box;
    
    padding-bottom: 10vh;
}


#personality, #langues{
    width: 100%;
    box-sizing: border-box;
    align-self: start;
    

    ul{
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        padding: 2vh 4vw;
        box-sizing: border-box;
        list-style-type: square;
        list-style-position: inside;
        
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        row-gap: 2vh;
    }
}

#personality h2, #langues h2{
    padding: 2vh 0vw;
    width: 100%;
    height: max-content;
    border-bottom: thick solid var(--primary_border);
    box-sizing: border-box;
}

#personality ul, #langues ul{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 2vh 4vw;
    box-sizing: border-box;
    list-style-type: square;
    list-style-position: inside;
    
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    row-gap: 2vh;
}


#personality ul{
    opacity: 0 !important;
    will-change: opacity;
    transition: all 0.3s ease;
}

#personality.visible ul{
    opacity: 1 !important;
}

#langues{
    display: grid;
    place-items: center;
    height: max-content;
}

#langues > div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    place-items: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 4vh 0px;
    row-gap: 3vh;
}

#langues > div > article{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    place-items: center;
    overflow: hidden;
    column-gap: 1vw;
    padding: 0px 2vw;
    box-sizing: border-box;
    will-change: contents;
    transition: all 0.3s ease;
    

    
}

#langues > div > article span{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden !important;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

#langues > div > article span:nth-of-type(1){
    font-weight: bold;
    font-size: 1rem;
}

#langues > div > article span:nth-of-type(2){
    font-style: italic;
}

#langues > div > article div{
    width: 100%;
    height: 0.8vh;
    border-radius: calc(infinity * 1px);
    display: grid;
    align-items: center;
    justify-items: start;
    background-color: var(--secondary);
    box-sizing: border-box;
    overflow: hidden;
}

#langues > div > article div::before{
    content: "";
    height: 100%;
    background-color: var(--on_secondary);
    border-radius: calc(infinity * 1px);
    box-sizing: border-box;
}


#francais div::before{
    width: 0% !important;
    transition: all 0.3s ease;
    will-change: width;
}

#francais.visible div::before{
    width: 90% !important;
}


#anglais div::before{
    width: 0% !important;
    transition: all 0.3s ease;
    will-change: width;
}

#anglais.visible div::before{
    width: 80% !important;
}

#zarma div::before{
    width: 0% !important;
    transition: all 0.3s ease;
    will-change: width;
}

#zarma.visible div::before{
    width: 95% !important;
}

#haoussa div::before{
    width: 0% !important;
    transition: all 0.3s ease;
    will-change: width;
    
}

#haoussa.visible div::before{
    width: 50% !important;
}